#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ui-panel {
  border-radius: 4px;
  padding: 2px 8px;
  backdrop-filter: blur(3px);
  color: white;
}

.health-heart {
  color: red;
  font-size: 25px;
  line-height: 1;
  padding-right: 2px;
  filter: 
    drop-shadow(1px 1px black) 
    drop-shadow(-1px -1px black) 
    drop-shadow(1px -1px black) 
    drop-shadow(-1px 1px black);
}
.health-heart--empty {
  color: white;
}